*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 320px;
    background: #fff;
}

.box {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 1s cubic-bezier(0.745, -0.015, 0.22, 0.995);
    transition: all 1s cubic-bezier(0.745, -0.015, 0.22, 0.995);
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
}
.box ul {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80vw;
}
.box li {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    width: 10vw;
    height: 10vw;
    margin: 0 20px;
    background: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    -webkit-transition: all 0.8s cubic-bezier(0.63, 0.07, 0.26, 0.93);
    transition: all 0.8s cubic-bezier(0.63, 0.07, 0.26, 0.93);
}
.box.current li {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.box.current li:nth-child(1) {
    -webkit-transition-delay: 1.7s;
    transition-delay: 1.7s;
}
.box.current li:nth-child(2) {
    -webkit-transition-delay: 1.8s;
    transition-delay: 1.8s;
}
.box.current li:nth-child(3) {
    -webkit-transition-delay: 1.9s;
    transition-delay: 1.9s;
}
.box.current li:nth-child(4) {
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
}
.box.under li {
    opacity: 0;
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
}
.box.under li:nth-child(1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.box.under li:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.box.under li:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.box.under li:nth-child(4) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.box.above li {
    opacity: 0;
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
}
.box.above li:nth-child(1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.box.above li:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.box.above li:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.box.above li:nth-child(4) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}